# dependencies
node_modules
bower_components

# compiled output
/.tmp
dist

# Test results
test-results/
playwright-report/
playwright/.cache/
.lighthouseci/

# System Files
.DS_Store
Thumbs.db

.idea/sonarlint
