/* Layout styles */

html {
  position: relative;
  min-height: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-bottom: 9px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize the jumbotron */
.jumbotron {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the edge padding needed for mobile */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .pageContainer {
    border-bottom: 0;
  }
}

/* Footer */
.footer {
  padding-top: 19px;
  color: #777;
  background-color: #101010;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer a {
  color: #777;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

#main-container {
  padding-top: 2em;
  padding-bottom: 1em;
  min-height: 90%;
}

.pageContainer {
  margin-top: 3em;
  background-color: rgba(75, 75, 75, 0.8);
  color: white;
  border-bottom: 1px solid #e5e5e5;
}

.pageContainer .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.pageContainer a {
  color: white;
  text-decoration: underline;
}

.pageContainer a:hover {
  color: rgba(200, 200, 200, 1);
}

p.warning {
  background-color: rgba(220, 220, 120, 0.6);
  padding-left: 2em;
}

div.alert-warning:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  content: '';
  background: url(/images/icons/warning.png) no-repeat 0 0;
  background-size: 100%;
}

div.alert-info:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  content: '';
  background: url(/images/icons/info.png) no-repeat 0 0;
  background-size: 100%;
}

.langItem {
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
}

.card:hover .card-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.card:hover .card-body {
  background-color: rgba(0, 0, 0, 0.15);
}

.websiteSourceCodeButton {
  width: 30px;
  height: 20px;
}
