<div class="h-100 p-5 text-white rounded-3 pageContainer">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="display-5">Niri buruz</h2>
  </div>
  <p class="text-justify">
    Gaur egun ingeniari informatikoa naiz eta
    <a href="https://www.elecnor.com/" target="_blank">Elecnor</a> enpresan
    egiten dut lan, ingeniaritza elektrikoko eta energiako proiektuak garatzen
    dituen konpainia batean; nire lana mota askotako proiektuetan aplikazio eta
    sistema informatikoak garatzea da.
  </p>
  <p class="text-justify">
    <a
      href="http://www.uni.hezkuntza.net/web/guest/inicio"
      target="_blank"
      rel="noopener noreferrer"
      >Uni Eibar-Ermua</a
    >
    institutuan batxilergoa amaitu ondoren, informatikako ikasketak hasi nituen.
    Lehenik eta behin, software garapenean zentratutako goi-mailako lanbide
    heziketako zikloa egin nuen institutuan bertan. Ondoren,
    <a
      href="http://www.ehu.eus/en/web/informatika-fakultatea/informatika-ingenieritzako-gradua-iig-#eskaintza"
      >Ingeniaritza Informatikoko Gradua</a
    >
    egin nuen, Software Ingeniaritzan espezializatuta. Unibertsitate berean,
    <a
      href="http://www.ehu.eus/es/web/sistemasinformaticosavanzados/aurkezpena"
      target="_blank"
      rel="noopener noreferrer"
      >Sistema Informatiko Aurreratuak</a
    >
    masterra osatu nuen. Azkenik,
    <a
      href="http://www.ehu.eus/en/en-home"
      target="_blank"
      rel="noopener noreferrer"
      ><span itemprop="alumniOf"
        >Euskal Herriko Unibertsitatean (UPV/EHU)</span
      ></a
    >
    doktoretza bukatu nuen Informatika Fakultatean. Nire ikerketa eremua
    <a href="https://www.w3.org/annotation/">web-eko anotazioak</a> hainbat
    domeinutan aplikatzean oinarritzen da.
  </p>
  <p class="text-justify">
    Ikasketak egin bitartean bost enpresatan aritu naiz web teknologiei lotutako
    lanetan, front-end zein back-end; hala ere, erabiltzailearen interfazearekin
    zerikusia dutenak gustatzen zaizkit gehien. Ez naiz Javascript, HTML edo CSS
    hizkuntzetan aditua, baina gehien erabiltzen ditudan tresnak dira. Adibidez,
    Graduko, Masterreko eta Doktorego tesiek Javascript hutsean daude garatuta.
  </p>
  <p class="text-justify">
    Nirekin harremanetan jar zaitezke honako hauen bidez
  </p>
  <div class="text-center">
    <a
      class="websiteButton"
      data-website="twitter"
      href="https://www.twitter.com/haritzmedina"
      target="_blank"
      rel="noopener noreferrer"
    ></a>
    <a
      class="websiteButton"
      data-website="github"
      href="https://github.com/haritzmedina"
      target="_blank"
      rel="noopener noreferrer"
    ></a>
    <a
      class="websiteButton"
      data-website="linkedin"
      href="https://www.linkedin.com/in/haritzmedina/es"
      target="_blank"
      rel="noopener noreferrer"
    ></a>
    <a
      class="websiteButton"
      data-website="email"
      href="mailto:me@haritzmedina.com"
      target="_blank"
    ></a>
    <a
      class="websiteButton"
      data-website="orcid"
      href="https://orcid.org/0000-0003-2545-9216"
      target="_blank"
      rel="noopener noreferrer"
    ></a>
  </div>
</div>
