<div class="h-100 p-5 text-white rounded-3 pageContainer">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="display-5">Ekarpen zientifikoak eta tesiak</h2>
  </div>

  <!-- Updated to 16 october 2022-->
  <div class="card bg-dark text-white">
    <div class="card-header">Ingeniaritza Informatikako doktoretza tesia</div>
    <div class="card-body">
      Haritz Medina. "Harnessing heterogeneity in Web Annotation: A Software Product Line Approach".
      <div>
        <a class="websiteButton" data-website="pdf" href="/assets/PhD_Thesis.pdf" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="powerpoint" href="/assets/PhD_Dissertation_ppt.pdf" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <!-- Updated to 1 july 2022 -->
  <div class="card bg-dark text-white">
    <div class="card-header">Argitalpena <a href="https://www.sciencedirect.com/journal/softwarex" target="_blank">Software X</a> aldizkarian</div>
    <div class="card-body">
      Haritz Medina, Oscar Díaz eta Xabier Garmendia. "Wacline: A Software Product Line to Harness Heterogeneity in Web Annotation".
      <div>
        <a class="websiteButton" data-website="webpage" href="https://doi.org/10.1016/j.softx.2022.101090" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/onekin/wacline" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="copyClipboard" data-copy="Medina, H., Díaz, O., & Garmendia, X. (2022). WACline: A Software Product Line to harness heterogeneity in Web Annotation. SoftwareX, 18, 101090." onclick="window.haritzmedina.copyClipboardEventHandler(this)" target="_blank" rel="noopener noreferrer" title="Aipatu gaitzazu (kopiatu arbelean)"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Argitalpena <a href="https://hicss.hawaii.edu/">HICSS'21</a> biltzarrean</div>
    <div class="card-body">
      Oscar Díaz, Haritz Medina eta Jeremías P. Contell. "Promoting Design Knowledge Accumulation Through Systematic Reuse: The Case for Product Line Engineering".
      <div>
        <a class="websiteButton" data-website="webpage" href="https://aisel.aisnet.org/hicss-54/os/design_science_research/6/" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <!-- Updated to 15 october 2020 -->
  <div class="card bg-dark text-white">
    <div class="card-header">Aurkezpena <a href="https://www.peere.org/conference/">PEERE'20</a> konferentzian</div>
    <div class="card-body">
      Oscar Díaz, Jeremías P. Contell eta Haritz Medina. "Software scaffolds for quality feedback in peer review".
      <div>
        <a class="websiteButton" data-website="webpage" href="https://underline.io/events/25/sessions/411/lecture/2867-software-scaffolds-for-quality-feedback-in-peer-review" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="youtube" href="https://www.youtube.com/watch?v=j4RGS6K9Cwg" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/reviewandgo" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="chromeStore" href="https://chrome.google.com/webstore/detail/highlightgo/bihmalipgnlomidlpekdnoohiejppfmo" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <!-- Updated to 17 july 2019 -->
  <div class="card bg-dark text-white">
    <div class="card-header">Argitalpena <a href="https://ease2019.org/">EASE'19</a> biltzarrean</div>
    <div class="card-body">
      Oscar Díaz, Haritz Medina eta Felipe I. Anfurrutia. "Coding-Data Portability in Systematic Literature Reviews: a W3C's Open Annotation Approach." Proceedings of the Evaluation and Assessment on Software Engineering. ACM, 2019.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://doi.org/10.1145/3319008.3319025" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/highlightandgo" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="chromeStore" href="https://chrome.google.com/webstore/detail/highlightgo/bihmalipgnlomidlpekdnoohiejppfmo" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">Argitalpena <a href="https://desrist2019.org/">DESRIST'19</a> biltzarrean</div>
    <div class="card-body">
      Oscar Díaz, Jeremías P. Contell eta Haritz Medina. "Performant Peer Review for Design Science Manuscripts: A Pilot Study on Dedicated Highlighters." International Conference on Design Science Research in Information Systems and Technology. Springer, Cham, 2019.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://doi.org/10.1007/978-3-030-19504-5_5" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/reviewandgo" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="chromeStore" href="https://chrome.google.com/webstore/detail/reviewgo/hgiannlbfceoomjmcgedbmkfeblbcogi" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">Aurkezpena <a href="http://iannotate.org/2019/">IAnnotate19</a> ekitaldian</div>
    <div class="card-body">
      Web anotazioak lanen zuzenketarako.
      <div>
        <a class="websiteButton" data-website="powerpoint" href="https://rebrand.ly/ianno19ehu" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/markandgo" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="chromeStore" href="https://chrome.google.com/webstore/detail/markgo/kjedcndgienemldgjpjjnhjdhfoaocfa" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <!-- Updated to 2018 -->
  <div class="card bg-dark text-white">
    <div class="card-header">Aurkezpena <a href="https://congreso.us.es/sistedes2018/">JISBD18</a> jardunaldietan</div>
    <div class="card-body">
      Highlight&Go: datu-ateratzea automatizatzeko luzapena, literatura-berrikuspenean Google Sheets erabiliz.
      <div>
        <a class="websiteButton" data-website="pdf" href="https://biblioteca.sistedes.es/articulo/highlightgo-una-extension-para-automatizar-la-extraccion-de-datos-en-revisiones-sistematicas-de-la-literatura-utilizando-google-sheets/client" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="powerpoint" href="https://rebrand.ly/jisbd18highlightandgo" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/highlightAndGo" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="chromeStore" href="https://chrome.google.com/webstore/detail/highlightgo/bihmalipgnlomidlpekdnoohiejppfmo" target="_blank"  rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">Aurkezpena <a href="http://iannotate.org/2018/">IAnnotate18</a> ekitaldian</div>
    <div class="card-body">
      The Cold-star Challenge: Introducing annotation at the University of the Basque Country.
      <div>
        <a class="websiteButton" data-website="powerpoint" href="https://rebrand.ly/ianno18ehu" target="_blank"  rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">Sistema Informatiko Aurreratuen Master Amaierako Lana</div>
    <div class="card-body">
      SheetChat - Txatbotak sortzea kalkulu-orrietatik.
      <div>
        <a class="websiteButton" data-website="pdf" href="/assets/MasterThesis.pdf" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="powerpoint" href="/assets/MasterPPT.pdf" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/SheetBot" target="_blank"  rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">Ingeniaritza Informatikako Gradu Amaierako Lana</div>
    <div class="card-body">
      Web-eko gehigarri eta luzapenen editore espezifiko bat.
      <div>
        <a class="websiteButton" data-website="pdf" href="/assets/BachelorThesis.pdf" target="_blank"  rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="powerpoint" href="/assets/BachelorPPT.pdf" target="_blank"  rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>
</div>
