<div class="h-100 p-5 text-white rounded-3 pageContainer">

  <div class="alert alert-warning" role="warning">
    Atal hau automatikoki itzulita dago Google Translaten bidez. Akatsik edo hobekuntzarik ikusten baduzu, esan lasai.
  </div>

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1 class="display-4">Cookie politika</h1>
  </div>

  <h2>Zer dira cookie-ak</h2>

  <p>
    Webgune profesional gehienetan bezala, gune honek cookieak erabiltzen ditu, zure ordenagailuan deskargatzen diren fitxategi txikiak, zure esperientzia hobetzeko. Orrialde honek zein informazio biltzen duten, nola erabiltzen dugun eta zergatik behar izaten ditugun azaltzen du. Cookieak nola galarazi ere azalduko dizugu, nahiz eta horrek gune honen funtzionalitate jakin batzuk murriztu edo "apurtu" ditzakeen.
  </p>

  <p>
    Cookieei buruzko informazio orokorragoa nahi baduzu, ikus HTTP cookieei buruzko Wikipediako artikulua.
  </p>

  <h2>Nola erabiltzen ditugu cookieak</h2>

  <p>
    Arrazoi desberdinengatik erabiltzen ditugu cookieak, behean zehazten direnak. Zoritxarrez, gehienetan ez dago industriako aukera estandarrik cookieak desgaitzeko, gune honi ematen dioten funtzionalitatea eta ezaugarriak ere guztiz desgaitu gabe. Ziur ez bazaude behar dituzun edo ez jakiteko, gomendagarriena cookie guztiak gaituta uztea da zuk erabiltzen dituzun zerbitzuetarako behar badira.
  </p>

  <h2>Cookieak desgaitzea</h2>

  <p>
    Cookieak saihestu ditzakezu nabigatzailearen konfigurazioa doituz (ikusi zure nabigatzailearen Laguntza nola egin jakiteko). Kontuan izan cookieak desgaitzeak eragina izango duela gune honen eta bisitatzen dituzun beste webgune askoren funtzionalitatean. Cookieak desgaitzeak gune honetako funtzio eta ezaugarri jakin batzuk ere desgaitzea ekarriko du normalean. Beraz, gomendagarria da ez desgaitzea.
  </p>

  <h2>Guk ezartzen ditugun cookieak</h2>

  <p>
    Gurekin kontu bat sortzen baduzu, erregistro prozesua eta kudeaketa orokorra administratzeko cookieak erabiliko ditugu. Cookie hauek normalean saioa ixtean ezabatzen dira, baina batzuetan saioa itxitakoan gunean dituzun hobespenak gogoratzeko gera daitezke.
  </p>

  <p>
    Saioa hasi duzunean erabiltzen ditugu cookieak, gogoratzeko saioa irekita duzula. Horrela, ez duzu saioa berriro hasi behar orrialde berri bat bisitatzen duzun bakoitzean. Cookie hauek normalean ezabatu edo garbitu egiten dira saioa ixtean, baimenik gabeko eremu eta funtzionalitateetara ez sartzeko.
  </p>

  <p>
    Gune honetan esperientzia bikaina eskaintzeko, gunea erabiltzen duzunean nola exekutatu nahi duzun konfiguratzeko aukera ematen dizugu. Zure hobespenak gogoratzeko, cookieak ezarri behar ditugu informazio hori erabilgarri egon dadin zure hobespenek eragiten duten orrialdeekin elkarreragiten duzun bakoitzean.
  </p>

  <h2>Hirugarrenen cookieak</h2>

  <p>
    Kasu berezi batzuetan konfiantzazko hirugarrenen cookieak ere erabiltzen ditugu. Hurrengo atalak gune honetan aurki ditzakezun hirugarrenen cookieak zehazten ditu.
  </p>

  <p>
    Gune honek Google Analytics erabiltzen du, sarean gehien erabiltzen den analisi irtenbideetako bat, gunea nola erabiltzen duzun eta zure esperientzia nola hobetu dezakegun ulertzen laguntzeko. Cookie hauek gunean ematen duzun denbora eta bisitatzen dituzun orrialdeak bezalako gauzak jarrai ditzakete, eduki erakargarriak sortzen jarraitzeko.
  </p>

  <p>
    Google Analytics cookieei buruzko informazio gehiago nahi baduzu, ikusi Google Analytics-en orri ofiziala.
  </p>

  <p>
    Batzuetan funtzio berriak probatzen ditugu eta gunean entregatzeko moduan aldaketa sotilak egiten ditugu. Funtzio berriak probatzen ari garenean, cookie hauek erabil ditzakegu gunean esperientzia koherentea izan dezazun eta gure erabiltzaileek zein optimizazio estimatzen dituzten ulertzeko.
  </p>

  <p>
    Publizitatea argitaratzeko erabiltzen dugun Google AdSense zerbitzuak DoubleClick cookie bat erabiltzen du sarean iragarki garrantzitsuagoak erakusteko eta iragarki jakin bat zenbat aldiz erakusten den mugatzeko.
  </p>

  <p>
    Google AdSense zerbitzuari buruzko informazio gehiago nahi baduzu, ikus Google AdSense pribatutasunari buruzko ohiko galderak.
  </p>

  <p>
    Gune honetan sare sozialetako botoiak eta/edo pluginak ere erabiltzen ditugu, zure sare sozialarekin hainbat modutan konektatzeko aukera emateko. Horiek funtziona dezaten, sare sozial hauetako webguneek (Facebook, Twitter, LinkedIn) cookieak ezarriko dituzte gure gunean; zure profilari hobekuntza emateko edo pribatutasun politikan azaldu dituzten beste erabilera batzuetarako erabili ditzakete.
  </p>

  <h2>Informazio gehiago</h2>

  <p>
    Espero dugu hau argigarria izan dela, eta esan bezala, zerbait beharrezkoa duzun edo ez ziur ez bazaude, normalean segurua da cookieak gaituta uztea gunean erabiltzen dituzun funtzioekin elkarreraginean egon zaitezkeelako. Hala ere, informazio gehiago bilatzen ari bazara, jar zaitez gurekin harremanetan gure harreman-bideen bidez.
  </p>

  Email: me at haritzmedina dot com

</div>
