<div class="h-100 p-5 text-white rounded-3 pageContainer">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="display-5">Ongi etorri!</h2>
  </div>
  <p itemscope itemtype="http://schema.org/Person">
    Kaixo, nire izena <span itemprop="givenName">Haritz</span>
    <span itemprop="familyName">Medina</span> da eta hau nire webgune pertsonala
    da. Informatikaren zale amorratua naiz. Nire gogokoenak web garapena eta
    sistemak dira, nahiz eta arlo gehienak gustuko dituen
    <span itemprop="jobTitle">informatikaria</span> naizen.
  </p>
  <p>
    Webgune honetan nire berri aurkituko duzu. Beraz, etxean zaude; goza ezazu.
  </p>
</div>
